.change {
  margin-top: 100px;
  display: block;
  align-items: center;
  filter: drop-shadow(0 0 20px rgba(0,0,0,1));

  // padding: 0 500px;

  // max-width: 100px;
  // position: absolute;
  top: 100px;
  left: 91px;

  &__container {
    background-color: rgba(215, 219, 255, 0.3);
    border-radius: 25px;
    padding-top: 16px;
    display: block;
    justify-content: center;
  }

  &__item {
    color: #ffffff;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Roboto, sans-serif;
    p {

      margin: 0;
      padding: 0;
    }
    p:first-child {
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.23em;
    }
    p:last-child {
      font-weight: normal;
      font-size: 22px;
    }
  }

  &__selectors {
    display: flex;
    justify-content: center;
    // border: 4px solid transparent;
    // border-image: linear-gradient(to bottom,#00D2FF 5%,  transparent 80%, transparent 100%, #adf2f7 90%);
    // border-image-slice: 1;
    &__list {
      display: flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      color: #fff;
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 1000px;
      padding: 0;
    }
  }
}
