.change {
  // margin-top: 10px;
  display: block;
  align-items: center;
  &__item {
    color: #ffffff;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
  
  &__text {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Roboto, sans-serif;
    p {

      margin: 0;
      padding: 0;
    }
    p:first-child {
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.23em;
    }
    p:last-child {
      font-weight: normal;
      font-size: 22px;
    }
  }

  &__selectors {
    display: flex;
    width: 80%;
    padding: 20px 50px;

    &__list {
      display: flex;
      // justify-content: center;
      list-style: none;
      text-align: center;
      color: #fff;
      // flex-wrap: wrap;
      // flex-direction: row;
      // max-width: 1000px;
      padding: 0;
    }
  }

  i {
    width: 90%;
    height: 4px;
    border-radius: 2px;
    background: rgba(196, 196, 196, 0.1);
  }
}
