.header {
  background: rgba(196, 196, 196, 0.1);
  padding: 23px 23px 23px 218px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {

  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Roboto,sans-serif;
    img {
      cursor: pointer;
    }
    &__item {
      padding: 0 17px;
      cursor: pointer;
      &:nth-child(3) {
        padding-right: 50px;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}